@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E7F6FF;
  --foreground: #171717;
  --grey-text: #9D9D9D;
  --dark-grey-text: #5C5C5C;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px 60px 0 60px;
}
